.navigation-bar {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.navigation-bar h1 {
  font-family: "Tulpen One", serif;
  font-size: 3rem;
  color: #000040;
}

.navigation-bar > a {
  padding-bottom: .5rem;
  width: 100%;
}

.navigation-bar a {
  text-decoration: none;
}

.navigation-bar ul {
  list-style: none;
  right: 2rem;
  top: 2rem;
}

.navigation-bar ul li {
  display: inline;
  padding-right: 2em;
  font-family: 'Actor', sans-serif;
}

.navigation-bar ul li a {
  text-decoration: none;
  color: #000040;
}

@media screen and (min-width: 640px) {
  .navigation-bar {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .navigation-bar > a {
    width: auto;
  }
  .navigation-bar ul li {
    padding-left: 2em;
  }
}
