.game-board {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 1rem 1rem 2rem 1rem;
  justify-content: space-between;
  align-content: space-between;
  max-width: 1024px;
}

.score {
  position: absolute;
  top: 1.6rem;
  left: 12rem;
  padding: .5rem;
  background-color: Gainsboro;
}

.score span {
  font-weight: bold;
  margin-top: -4rem;
  position: relative;
}

main {
  background-color: Silver;
  margin-top: 0;
}

.instructions {
  margin: 0 3rem;
  padding-top: 2rem;
  line-height: 1.3rem
}

.instructions span {
  font-weight: bold;
}

@media screen and (min-width: 640px) {
  .game-board {
    padding: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .instructions {
    margin: 0 auto;
    max-width: 900px;
  }
}
