.game-card {
  width: 18%;
  margin: 1%;
  position: relative;
  border: 3px solid Silver;
  background-color: Silver;
}

.game-card .value {
  position: relative;
  border: 3px solid Gainsboro;
}

.game-card h1 {
  font-family: "Tulpen One";
  color: white;
  padding: .5rem 0 .1rem .5rem;
  font-size: 2.2rem;
}

.game-card h2,
.game-card p {
  font-family: "Actor";
}

.game-card h2 {
  font-size: .6rem;
  background-color: Gainsboro;
  color: DimGray;
  position: absolute;
  top: 0;
  right: 0;
  padding: .3rem;
  height: 1.2rem;
}

.game-card h2 span {
  z-index: 4;
  position: relative;
}

.game-card h2:Before {
  content: '';
  position: absolute;
  top: 0;
  left: -1.2rem;
  width: 0;
  height: 0;
  position: absolute;
  border-left: 1.2rem solid transparent;
  border-right: 1.2rem solid transparent;
  border-top: 1.2rem solid Gainsboro;
}

.game-card p {
  font-size: .6rem;
  color: white;
  margin: 0 0 .6rem .6rem;
}
